---
const url = Astro.url.pathname; // e.g., /Numpy/notebook/Introduction-of-Numpy/
const pagePath = url.replace(/\/$/, ""); // remove trailing slash

const ipynbPath = `notebook${pagePath}.ipynb`; // full GitHub path for Colab
const colabLink = `https://colab.research.google.com/github/thedhruvish/datasciencewith/blob/main/${ipynbPath}`;
console.log(colabLink);
---

<article>
  <a href={colabLink} target="_blank" rel="noopener noreferrer">
    <img
      src="https://datasciencewith.pages.dev/img/icon/colab.svg"
      alt="Open in Colab"
      style="height: 1.5em; vertical-align: middle;"
    />
  </a>

  <slot />
</article>
